@charset "utf-8";
/* CSS Document */

.bacnner-ir {
    width: 100%;
    background: #d7d8dc url(../images/stock-photo-22481501-businessmen-using-digital-tablet-in-meeting.jpg);
    background-size: cover;
    background-position: right;
    display: block;
    height: 386px;
}
.banner-topic {
	float: left;
	clear: both;
	padding: 118px;
}

@media (max-width:768px){
.bacnner-ir {
    background: url(../images/stock-photo-22481501-businessmen-using-digital-tablet-in-meeting-2.jpg);
    background-position: 81%;
    background-size: cover;
    overflow: hidden;
}
.banner-topic {
	float: left !important;
	clear: both !important;
	padding: 110px 25px 0 !important;
	width: 100%;
}
.text_05 {
	font-size: 20px !important;
    color: #ffffff !important;
    margin: 0 !important;
    text-align: center !important;
}
.text_06 {
	font-size: 69px !important;
    line-height: 69px !important;
    color: #ffffff !important;
    margin-top: 0px !important;
    text-align: center !important;
}
}
.menu-ir-wrap {
    width: 100%;
    padding-top: 30px;
}

.news-wrap {
	width: 100%;
	min-height: 200px;
	overflow: hidden;
	background: #ccc;
}
.banner-event {
	width: 100%;
    min-height: 20px;
    overflow: hidden;
    background: #fff;
    margin: 30px 0;
    padding-bottom: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
#box-main {
	padding: 20px 20px 40px;
}
.price-wrap {
    width: 100%;
    min-height: 20px;
    overflow: hidden;
    background: #fcfdfe;
    padding: 18px 7px;
    border: 6px #e3e3e3 solid;
    text-align: center;
    border-radius: 1px;
}
.annual-row {
	width: 100%;
	min-height: 20px;
	overflow: hidden;
	background: #043725 url(../images/bg_01.jpg) no-repeat;
	background-size: cover;
	padding: 30px 0;
}
.text_01 {
	color: #fff !important;
    font-size: 30px !important;
}
.text_02 {
	color: #fff !important;
    font-size: 12px !important;
}
.text_03 {
	    font-size: 18px !important;
    line-height: 25px !important;
    letter-spacing: 0.02em !important;
}
.text_04 {
	font-size: 12px !important;
    color: #1e7154 !important;
    margin-bottom: 0px !important;
}
.text_05 {
	font-size: 36px;
    color: #1e7154;
	margin: 0;
}
.text_06 {
	font-size: 65px;
    color: #1e7154;
	margin-top: -30px;
}
.text_07 {
    font-size: 25px !important;
    color: #1e7154 !important;
	margin-bottom: 35px !important;
}
.text_08 {
    font-size: 19px !important;
    margin-bottom: 25px !important;
    color: #00804a !important;
}
.text_09 {
	font-size: 20px !important;
	color: #086443 !important;
    text-decoration: underline !important;
}
.text_10 {
	font-size: 14px !important;
    color: #086443 !important;
}
.text_11 {
    font-size: 35px !important;
    line-height: 40px !important;
    color: #1d9f68;
}
.cov-ann {
    width: 100%;
    margin-bottom: -30px;
    text-align: center;
}
.btn-dwnld-ann {
	background: #bea780;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
        color: #054530;
    font-size: 15px;
	text-decoration: none;
}
.btn-dwnld-ann:hover {
	background: #a99471;
	transition: all 0.2s ease-in;
	text-decoration: none;
}
.btn-more-ann {
	background: #bcd7ca;
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px;
    text-align: center;
    border-radius: 1px;
        color: #054530;
    font-size: 15px;
}
.btn-more-ann:hover {
	background: #a2c1b2;
	transition: all 0.2s ease-in;
	text-decoration: none;
}
.btn-wrap {
	margin-bottom: 20px;
}
.highlight-row {
	width: 100%;
	min-height: 20px;
	overflow: hidden;
	background: #fff;
	padding: 70px 0;
}
.hl-wrap {
	width: 100%;
	min-height: 20px;
	margin-bottom: 45px;
	/*background: #fbfbfb;*/
}
.hl-wrap p {
	font-size: 12px;
}
.headtopic {
	padding: 25px 0 0;
	border-bottom: 1px #bea780 solid;
	font-size: 15px;
	margin-bottom: 20px;
	min-height: 89px;
}
.btn-hl-more {
    text-align: right;
    color: #989898;
    font-size: 13px;
    background: #f0f2f1;
    padding: 5px 15px;
    border: 1px #e8e8e8 solid;
}
.box-main-ir {
	padding: 60px 20px 40px;
}
.box-main-ir p {
	font-size: 14px;
}
.sign-chairman {
	float: right;
	overflow: hidden;
}
.table-data {
	overflow-x: auto;
	width: 100%;
}
.chairman-wrap {
    border-bottom: 1px #d1d1d1 solid;
    padding-bottom: 50px;
    padding-top: 25px;
    margin-bottom: 90px;
}
table sup {
	background: #086443;
    color: #fff;
    padding: 0px 6px;
    border-radius: 50%;
    font-size: 10px;
}
.bull-sup {
	top: -0.5em;
    background: #086443;
    color: #fff;
    padding: 0px 6px;
    border-radius: 50%;
    font-size: 74%;
    margin: 0 5px 0 0px;
}
.btn-1 {
    background: #1e7154;
    color: #ffffff;
    border: 1px solid #009a49;
    font-family: 'Kanit', sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    padding: 10px 30px;
	transition: all ease-in 0.2s;
}
.btn-1:hover {
    background: #086443;
    border: 1px #0d7b54 solid;
    transition: all ease-in 0.2s;
}
.list-wrap {
    width: 100%;
    padding: 10px;
    float: left;
    overflow: hidden;
    background: #f2f5f3;
    border: 1px #e6efe9 solid;
	color: #404041;
	margin-bottom: 20px;
	transition: all ease-in 0.2s;
}
.list-wrap:hover {
    background: #d1e0d6;
    transition: all 0.2s ease-in;
    color: #666666;
}
.list-wrap .cover {
    width: 65px;
    height: 92px;
    background-size: 100%;
    float: left;
    margin: 10px 20px 10px 10px;
	overflow: hidden;
    -webkit-box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.cover-current {
	/*min-width: 240px;
	max-width: 250px;*/
    /* height: 92px; */
    background-size: 100%;
    float: left;
    margin: 45px 20px;
    overflow: hidden;
	-webkit-box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
    -moz-box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
    box-shadow: -15px 15px 30px -5px hsla(0, 0%, 0%, 0.45);
}
.cover-current img {
	width: 100%;
}
.liststyle ul {
	    font-size: 14px;
    list-style: decimal;
    padding-left: 20px;
    line-height: 1.625em;
	    padding-bottom: 10px;
}
.liststyle ul li {
	padding-bottom:0;
}
.liststyle2 ul {
	    font-size: 14px;
    list-style: none;
    padding-left: 20px;
    line-height: 1.625em;
	    padding-bottom: 10px;
}
.liststyle2 ul li {
	padding-bottom:0;
}
.vision-wrap {
	width: 100%;
	margin-bottom: 35px;
}
.vision-img {
    width: 100%;
    height: 190px;
    background: url(../images/img_15.jpg) no-repeat;
    background-size: 284%;
    background-position: 32% 62%;
	margin-bottom: 25px;
	/*border: 5px #bbbbbb solid;*/
}
.vision-detail {
	padding-right: 20px;
	width: 100%;
	text-align: right;
}
@media (min-width:1200px){
	.vision-wrap {
	width: 100%;
	padding-right: 10px;
	margin-top: 45px;
	}
	.vision-img {
    width: 100%;
    height: 220px;
    background: url(../images/img_15.jpg) no-repeat;
    background-size: 284%;
    background-position: 32% 62%;
	margin-bottom: 45px;
	}
}

.mission-wrap {
	width: 100%;
	margin-bottom: 35px;
}
.mission-img {
    width: 100%;
    height: 190px;
    background: url(../images/img_16.jpg) no-repeat;
    background-size: 100%;
    background-position: 32% 62%;
	margin-bottom: 25px;
	/*border: 5px #b4d4c8 solid;*/
}
.mission-detail {
	width: 100%;
	text-align: left;
}
@media (min-width:1200px){
	.mission-wrap {
	padding-left: 20px;
	width: 100%;
	margin-bottom: 70px;
	}
	.mission-img {
    width: 100%;
    height: 365px;
    background: url(../images/img_16.jpg) no-repeat;
    background-size: 100%;
    background-position: 32% 62%;
	margin-bottom: 45px;
	}
	.mission-detail {
	padding-left: 20px;
	width: 100%;
	text-align: left;
	}
}

.value-wrap {
	width: 100%;
}
.value-img {
    width: 100%;
    height: 190px;
    background: url(../images/img_17.jpg) no-repeat;
    background-size: 100%;
    background-position: 32% 62%;
    margin-bottom: 25px;
	/*border: 5px #d4c8b4 solid;*/
}
.value-detail {
	width: 100%;
	text-align: left;
}
@media (min-width:768px){
	.value-wrap {
	width: 100%;
	}
	.value-img {
		width: 100%;
		height: 350px;
		background: url(../images/img_17.jpg) no-repeat;
		background-size: 100%;
		background-position: 32% 62%;
		margin-bottom: 45px;
	}
	.value-detail {
		width: 100%;
		text-align: left;
	}
}
@media (min-width:1200px){
	.value-wrap {
	width: 100%;
	}
	.value-img {
		width: 100%;
		max-width: 600px;
		height: 300px;
		background: url(../images/img_17.jpg) no-repeat;
		background-size: 100%;
		background-position: 32% 62%;
		margin-bottom: 45px;
		margin-left: 270px;
	}
	.value-detail {
		width: 100%;
		text-align: left;
		padding-left: 30px;
	}
}

.dwnld-w {
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
}
.dwnld-w2 {
	overflow: hidden;
	margin-left: -15px;
	margin-right: -15px;
}
.tab-bar {
    padding: 10px 15px;
    text-align: center;
    font-weight: 500;
	border-top: 1px #f6f6f6 solid;
    border-bottom: 5px #e6e6e6 solid;
    background: #ffffff;
    color: #038d4e;
}
.topic-file {
	padding: 10px 15px;
}
.topic-file a {
	font-size: 12px;
	display: table-cell;
	color: #555;
	cursor: pointer;
	    line-height: initial;
	text-transform: uppercase;
}
.border-bottom {
	border-bottom: 1px #eee solid;
}




@media (max-width:768px){
.btn-1 {
    background: #1e7154;
    color: #ffffff;
    border: 1px solid #009a49;
    font-family: 'Kanit', sans-serif !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    padding: 10px 5px;
}		
}


@media (max-width:425px){
.list-wrap {
    width: 100%;
    padding: 20px;
    float: left;
    overflow: hidden;
    background: #f2f5f3;
    border: 1px #e6efe9 solid;
    color: #404041;
    margin-bottom: 20px;
    transition: all ease-in 0.2s;
}	
.list-wrap .cover {
    width: 100%;
    height: auto;
    background-size: 100%;
    float: left;
    margin: 10px 0 30px 0;
    overflow: hidden;
    -webkit-box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -4px 5px 10px 0px rgba(0, 0, 0, 0.3);
}	
}




