@charset "utf-8";
/* CSS Document */

.pad-frame-read-detail {
    padding: 0 100px 200px;
    display: grid;
}
.frame-read-detail{
	text-align: center;
    background-color: #ffffff;
    padding: 25px 0;
    border-bottom: 1px solid #eeeeee;
}

.img-read-detail{
	width: 225px;
}

.page__title.page__title--gigantic {
    font-size: 4rem;
    text-align: center;
    margin: 60px 0;
}

.border-read-detail{
    border-right: 1px solid #dddddd;
    height: 755px;
    overflow: auto;
}

.img-crop-read-detail{
	height: 755px;
	width: 100%;
	overflow: hidden;
}

.subject-read-detail{
    margin: 0;
    display: grid;
    margin-bottom: 25px;
}

.main-hl-read-detail{
	margin: 0;
	line-height: 34px;
}

.hr-read-detail{
    width: 15px;
    border-top: 1px solid #000;
    text-align: left;
    display: inline-block;	
}

.a-read-detail {
    color: #999;
    transition: all 0.3s;
    width: auto;
    overflow: auto;
}

.a-read-detail:hover{
	color: #333;
	transition: all 0.3s;
}









/* responsive */
@media (max-width:1449px){
.pad-frame-read-detail {
    padding: 0 0 200px;
    display: grid;
}
	
.a-read-detail {
    color: #999;
    transition: all 0.3s;
    width: 135px;
    overflow: auto;
}	
}

@media (max-width:1199px){
.page__title.page__title--gigantic {
    font-size: 5.25rem;
    text-align: center;
    margin: 95px 0;
}	
.border-read-detail {
    margin-bottom: 75px;
    height: 650px;
}
.height-text-read-detail {
    height: auto;
}	
.border-none-read-detail{
	border-right: 0px solid #dddddd;
    padding: 0 25px;
}	
.a-read-detail {
    color: #999;
    transition: all 0.3s;
    width: auto;
    overflow: auto;
}	
}

@media (max-width:767px){
.border-none-img-read-detail{
	border-right: 0px solid #dddddd;
}
.border-read-detail {
    margin-bottom: 75px;
    height: auto;
}
.img-crop-read-detail {
    height: auto;
    width: 100%;
    overflow: hidden;
}	
.page__title.page__title--gigantic {
    font-size: 3.25rem;
    text-align: center;
    margin: 75px 0;
}	
}


@media (max-width:475px){
.img-read-detail {
    width: 80%;
}	
.page__title.page__title--gigantic {
    font-size: 3.25rem;
    text-align: center;
    margin: 75px 0;
    padding: 0 40px;
}	
.pad-frame-read-detail {
    padding: 0 0 25px;
    display: grid;
    margin: 0 -35px;
}	
}









