@charset "utf-8";
/* CSS Document */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    /*border: 1px solid #ddd;*/
    padding: 15px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#04a554;
    color: white;
}


.headtable{
	font-size:20px;
	}

.headtable2 {
    font-size: 18px;
    color: #838383;
	font-weight: 200;
}
	
	
.tabledetail{
	font-size: 16px;
    color: #333333;
	}	

.headcontent{
	font-size: 22px;
    color: #04a554;
	}	

.contentdivi{
	font-size: 18px;
    color: #333333;	
	font-weight: 200;
	line-height: 26px;
	}	
	
.dividendimg{
	width:100%;
	box-shadow: 14px 14px 0px 0px #00000012;
	}

.structuretab1{
	background: #f0f0f0;
    height: 50px;
	transform:0.3s;
	}

.structuretab1:hover{
    background: #f8f8f8;
    height: 50px;
	transform:0.3s;
}

.structuretab2{
	background: #fff;
    height: 60px;
	transform:0.3s;
	}

.structuretab2:hover{
    background: #f8f8f8;
    height: 60px;
	transform:0.3s;
}

.structuretaball{
    background: #0db47c;
    height: 60px;
	transform:0.3s;
}

.structuretabal2{
    background: #0aa672;
    height: 60px;
	transform:0.3s;
}



.tapfont1{
	text-align:center; 
    margin-top: 15px;
	margin-bottom: 15px;
    font-size:20px;	
	}
	
.tapfont2{
	margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
	}
	
.tapfont3{
	text-align:right;
    margin-top: 15px;
    font-size:16px;	
	}
	
.headtabfont{
	font-size: 16px;
    color: #04a554;
		}
	
.tapfont4{
	text-align:center;
    margin-top: 15px;
    font-size:16px;	
	}		

	

.cordown1{
	width: 95%;
    height: 60px;
    border: 2px solid #04a554;
}

.cordown2{
	width: 95%;
    height: 60px;
    background:#04a554;
}

.cordownfont{
	color: #01a552;
    padding-top: 12px;
    text-align: center;
	}
	
.cordownfont2{
	color: #fff;
    padding-top: 12px;
    text-align: center;
	}	


.tableover{
	height:0px;
	}

.tableoverwidth{
	}
	
.lamdub{
	text-align: center;
    color: #FFF;
	font-size: 20px;
    margin-top: 50px;
	}
	
.lamdub1{
	text-align: center;
    color: #FFF;
    font-size: 20px;	
    margin-top:20px;
	}	
	
.lamdub2{
	text-align: center;
    font-size: 16px;	
    color: #FFF;
	margin-top: 30px;
	}	

.totalfont{
	text-align:right; 
	margin-top: 20px; 
	font-size:18px;
	color:#FFF;
	}

.mdaimg{
	background:url(../images/mda1.html)no-repeat;
	width: 100%;
    height: 350px;
	}
	
.corimg{
	background:url(../images/corporate1.html);
	width: 100%;
    height: 350px;
	}
	
.structureimg{
	background:url(../images/structure.html)no-repeat;
	width: 100%;
    height: 350px;
	}	

.contactpadding{
	padding-left:50px;
	}	

.confont1{
	font-size:25px;
    color: #04a554;
	}

.confont2{
	font-size: 18px;
    color: #5b5b5b;
	}	
	
.confont3{
	font-size:18px;
	color: #04a554;
	}
		

.confont3:hover {
    font-size: 18px;
    color: #00BCD4;
}	

.contactform1{
	width:100%;
    height: 45px;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #f6dec1;
    background-color: #00008b00;
    box-sizing: border-box;
	}		


.textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


.csrimg{
	background:url(../images/csr1.html);
	width:100%;
	height:500px;
	}

	.downbook1{
	width:100%;
	border:2px solid #04a554;
	height:60px;
	margin-bottom:15px;
	transition:0.3s;
	}
	
	.downbook1:hover{
	width:100%;
	border:2px solid #017d3f;
	height:60px;
	margin-bottom:15px;
	transition:0.3s;
	}	

.downbook2{
	width:100%;
	background:#04a554;
	height:60px;
	float: right;
	margin-bottom: 50px;
	transition:0.3s;
	}	
	
	.downbook2:hover{
    width: 100%;
    background: #017d3f;
    height: 60px;
    float: right;
	transition:0.3s;
	}	

.bookfont1{
	color: #01a552;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
	}

.bookfont2{
	color: #fff;
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
	}	
	
.bookbg{
    margin-bottom: 20px;
	background:#85858512;
	padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 40px;
	}	
	
.annualfont{
	text-align: center;
    font-weight: 500;
    font-size: 25px;
	color: #333333;
	margin-bottom: 10px;
	}	


@media only screen and (max-width:1366px){

	
}

@media only screen and (max-width:1199px){

	
}


@media only screen and (max-width:991px){
	
	.corimg{
	background:url(../images/corporate0.html)no-repeat;
	width: 100%;
    height: 350px;
	}
	
	.cordown2 {
    width: 100%;
    height: 60px;
    background: #04a554;
}

.csrimg{
	background:url(../images/csr2.html);
	width:100%;
	height:600px;
	}
	
}

@media only screen and (max-width:768px){
	
	.lamdub{
	text-align: center;
    color: #FFF;
	font-size: 15px;
    margin-top: 30px;
	}
	
	.lamdub1{
	text-align: center;
    color: #FFF;
    font-size: 15px;
    margin-top: 15px;
	}	
	
.lamdub2{
	text-align: center;
    font-size:10px;	
    color: #FFF;
	}
	
	.tapfont2 {
    margin-top: 15px;
    font-size: 15px;
	}
	
	.tapfont3 {
    text-align: right;
    margin-top: 15px;
    font-size: 15px;
	}
	
	.tapfont4 {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
	}
	
	.tapfont1 {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
	}
	
	.mdaimg{
	background:url(../images/mda2.html)no-repeat;
	width: 100%;
    height: 460px;
	}
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
	height:180px;
	}
	
	.corimg{
	background:url(../images/corporate2.html)no-repeat;
	width: 100%;
    height: 350px;
	}
	
}


@media only screen and (max-width:767px){
	
	.cordown1 {
    width: 100%;
    height: 60px;
    border: 2px solid #04a554;
    margin-bottom: 15px;
	}
	
	.csrimg{
	background:url(../images/csr3.html);
	width:100%;
	height:620px;
	}
	

	}

@media only screen and (max-width:414px){
	.contentdivi {
    font-size: 16px;
    color: #333333;
    font-weight: 200;
    line-height: 26px;
}

.tableover{
	height:auto;
    overflow-y: scroll;
    white-space: nowrap;
	}
	
.structuretaball {
    background: #0aa672;
    height: 60px;
	width: 1000px;
    transform: 0.3s;
}

.structuretab1 {
    background: #f0f0f0;
    height: 60px;
	width: 1000px;
    transform: 0.3s;
}
	
.tableoverwidth{
	width:1000px;
	}	
	
	.mdaimg{
	background:url(../images/mda3.html)no-repeat;
	width: 100%;
    height:250px;
	}
	
	.corimg{
	background:url(../images/corporate3.html)no-repeat;
	width: 100%;
    height:250px;
	}
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
	height: 280px;
	}
	
	.cordownfont {
    color: #01a552;
    padding-top: 17px;
    text-align: center;
    font-size: 16px;
	}
	
	.cordownfont2 {
	width:100%;
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
	}
	
	.cordown1 {
    width: 100%;
    height: 60px;
    border: 2px solid #04a554;
    margin-bottom: 15px;
	}
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    height: 310px;
	}
	
	.contactpadding {
    padding-left: 0px;
	}
	
	.csrimg{
	background:url(../images/csr4.html);
	width:100%;
	height:715px;
	}
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    height: 375px;
	}
	
}	

@media only screen and (max-width:375px){
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    height: 280px;
	}
	
	.cordown2 {
    width: 100%;
    height: 60px;
    background: #04a554;
	}
	
	.moneycontent {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
    height: 375px;
	}
	
	.csrimg{
	background:url(../images/csr5.html);
	width:100%;
	height:715px;
	}
	
	
	}
	
	
	
	
	
	
	
	
	
	
	