v@charset "utf-8";
/* CSS Document */


/*
Table Style - This is what you want
------------------------------------------------------------------ */
.table-data table a:link {
	color: #b9934e !important;
	text-decoration:none !important;
}
.table-data table a:active,
.table-data table a:hover {
    color: #1d9f68 !important;
    text-decoration: none !important;
    transition: color 0.2s linear !important;
}
.table-data table {
	/*font-family: 'Roboto Condensed', sans-serif !important;*/
	color:#141412 !important;
	/* font-size:14px !important; */
	margin:5px 0 0 0 !important;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	border-radius:3px !important;
	/* white-space: nowrap; */
}
.table-data table th {
    padding: 20px 25px 21px 25px !important;
    border-top: 1px solid #ffffff !important;
    border-bottom: 2px solid #d2d2d2 !important;
    text-align: center !important;
    color: #ffffff !important;
    line-height: 20px;
    background: #1d9f68 !important;
}
.table-data table th:first-child{

	padding-left:20px !important;
}
.table-data table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.table-data table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.table-data table tr{
	padding-left:20px;
	border-bottom: 1px #b3b3b3 solid;
	background-color: #f4f4f4;
}
.table-data table tr td:first-child{
	border-left: 0;
}
.table-data table tr td {
	padding: 20px;
	line-height: 20px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e8e8e8;
}
.table-data table tr.even td{
	background: #fff;
}

.table-data table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table-data table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table-data table tr:hover td{
	background: rgb(213, 220, 218);
}
.table-data table .shadow {
	-webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.4);
}

.table-data table tr.highlight td {
    background: rgb(226, 226, 226);
    color: #038d4e;
    letter-spacing: 0.05em;
}

.table-data table tr.highlight_02 td {
	background: rgba(247,247,247,1);
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(47%, rgba(237,237,237,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 47%, rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0 );
}

.table-data table tr.highlight_03 td {
	background: rgb(222, 228, 226);
}
.table-data table tr.highlight_03:hover td {
	background: rgb(213, 220, 218);
}