﻿/*********************** Bovii on 2016-0212 19:12*****************************/
/* Login By Bowl */

.uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

.btn-default{border-radius: 0px;}

.form-control {
    font-weight:normal !important;
    font-size:12px !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bootstrap-filestyle input.form-control {
    cursor: not-allowed;
    opacity: 1; 
    height: 34px;
    background-color: #eee !important;
}
.bootstrap-filestyle label.btn-default {
    color: #000;
    background-color: #fff !important;
    border-color: #ccc;
}

label  {
    font-weight: normal !important;
}

label {font-size:13px !important;}

